:root {
  --random-s: random(10vw, 20vw);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: red;
}

.ball-background {
  position: relative;
}
/*.ball-change {
  animation: ball-fall 5s ease forwards;
}*/

/*@keyframes ball-fall {
   100% {
    transform: translateY(50px);
  }
}*/

.ball-1 {
  top: -40%;
  left: -40%;
  animation: ball-fall-1 10s ease forwards;
  z-index: 3;
}

@keyframes ball-fall-1 {
  25% {
    transform: rotate(-3grad);
  }
  50% {
    transform: rotate(3grad);
  }
  75% {
    transform: rotate(-4grad);
  }
  100% {
    top: 20vw;
    left: 10vw;
    transform: rotate(0grad);
  }
}

.ball-2 {
  top: -60vw;
  left: -40vw;
  animation: ball-fall-2 10s ease forwards;
}

@keyframes ball-fall-2 {
  25% {
    transform: rotate(3grad);
  }
  50% {
    transform: rotate(-3grad);
  }
  75% {
    transform: rotate(4grad);
  }
  100% {
  top: 40vw;
    left: 5vw;
    transform: rotate(0grad);
  }
}

.ball-3 {
  top: 60vw;
  left: 40vw;
  animation: ball-fall-3 10s ease forwards;
}

@keyframes ball-fall-3 {
  25% {
    transform: rotate(3grad);
  }

  50% {
    transform: rotate(-3grad);
  }

  75% {
    transform: rotate(4grad);
  }

  100% {
    top: 60vw;
    left: 20vw;
    transform: rotate(0grad);
  }
}

.ball-4 {
  top: 100vw;
  left: 20vw;
  animation: ball-fall-4 10s ease forwards;
}

@keyframes ball-fall-4 {
  25% {
    transform: rotate(3grad);
  }

  50% {
    transform: rotate(-3grad);
  }

  75% {
    transform: rotate(4grad);
  }

  100% {
    top: 10vw;
    left: 0vw;
    transform: rotate(0grad);
  }
}

.ball-5 {
  top: -80vw;
  left: -15vw;
  animation: ball-fall-5 10s ease forwards;
}

@keyframes ball-fall-5 {
  25% {
    transform: rotate(3grad);
  }

  50% {
    transform: rotate(-3grad);
  }

  75% {
    transform: rotate(4grad);
  }

  100% {
    top: 85vw;
    left: -5vw;
    transform: rotate(0grad);
  }
}

.ball-6 {
  top: -60vw;
  left: -100vw;
  animation: ball-fall-6 10s ease forwards;
}

@keyframes ball-fall-6 {
  25% {
    transform: rotate(3grad);
  }

  50% {
    transform: rotate(-3grad);
  }

  75% {
    transform: rotate(4grad);
  }

  100% {
    top: 10vw;
    left: 40vw;
    transform: rotate(0grad);
  }
}

.ball-7 {
  top: -70vw;
  left: -10vw;
  animation: ball-fall-7 10s ease forwards;
}

@keyframes ball-fall-7 {
  25% {
    transform: rotate(3grad);
  }

  50% {
    transform: rotate(-3grad);
  }

  75% {
    transform: rotate(4grad);
  }

  100% {
    top: 65vw;
    left: -15vw;
    transform: rotate(0grad);
  }
}

.cloud-two {
  width: 15vw;
  position: absolute;
  bottom: 5%;
  right: -5%;
 /* animation: cloud-two 36s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-two {
  100% {
    bottom: 110%;
    right: 30%;
  }
}

.cloud-three {
  width: 18vw;
  position: absolute;
  bottom: 5%;
  left: -5%;
 /* animation: cloud-three 37s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-three {
  100% {
    bottom: 110%;
    left: 30%;
  }
}

.cloud-four {
  width: 18vw;
  position: absolute;
  bottom: 15%;
  left: 5%;
  /*animation: cloud-four 38s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-four {
  100% {
    bottom: 110%;
    left: 50%;
  }
}

.cloud-five {
  width: 18vw;
  position: absolute;
  bottom: 1%;
  left: 45%;
  /*animation: cloud-five 40s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-five {
  100% {
    bottom: 110%;
    left: 30%;
  }
}
.cloud-six {
  width: 20vw;
  position: absolute;
  bottom: -5%;
  right: 5%;
  /*animation: 40s cloud-six 6s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-six {
  100% {
    bottom: 110%;
    right: 10%;
  }
}

.cloud-seven {
  width: 15vw;
  position: absolute;
  bottom: -5%;
  right: -5%;
  /*animation: 36s cloud-seven 4s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-seven {
  100% {
    bottom: 110%;
    right: 30%;
  }
}

.cloud-eight {
  width: 18vw;
  position: absolute;
  bottom: -5%;
  left: -5%;
 /* animation: 37s cloud-eight 7s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-eight {
  100% {
    bottom: 110%;
    left: 30%;
  }
}

.cloud-nine {
  width: 18vw;
  position: absolute;
  bottom: -5%;
  left: 5%;
  /*animation: 38s cloud-nine 5s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-nine {
  100% {
    bottom: 110%;
    left: 50%;
  }
}

.cloud-ten {
  width: 18vw;
  position: absolute;
  bottom: -5%;
  left: 45%;
  /*animation: 40s cloud-ten 5s ease-in-out forwards;*/
  z-index: -10;
}

@keyframes cloud-ten {
  100% {
    bottom: 110%;
    left: 30%;
  }
}
